

@font-face {
    font-family: montserrat;
    src: url('./Montserrat-Light.ttf');
}

body {
    background-color: beige;
    font-weight: bold;
}

h1 {
    font-family: montserrat;
    color: black;
    text-align: center;
    display: block;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.2);
    height: 50px;
    width: 50%;
    margin: auto;
    padding: 10px 0 0 5px;
}

h2 {
    font-family: montserrat;
}

h3 {
    font-family: montserrat;
}

p {
    font-family: montserrat;
}

li {
    font-family: montserrat;
}

div {
    margin: 40px 100px;
}