

@font-face {
    font-family: montserrat;
    src: url('./Montserrat-Light.ttf');
}

body {
    background-color: beige;
    font-weight: bold;
    margin: 0px 20%;
}

h1 {
    font-family: montserrat;
    color: black;
    text-align: center;
    display: block;
    /* 
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.2);
    height: 50px;
    width: 50%;
    */
    margin-top: 100px;
    /*
    padding: 10px 0 0 5px;
    */
    font-size: 100px;
    font-style: italic;
}

h2 {
    font-family: montserrat;
    text-align: center;
}

h3 {
    font-family: montserrat;
}

p {
    font-family: montserrat;
    line-height: 1.6;
}

li {
    font-family: montserrat;
    margin: 20px 0;
}

section {
    margin: 100px auto;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: white;
    display: block;
}

#intro {
    width: 30%;
}

#work {
    width: 30%;
}

#education {
    width: 30%;
}

#projects {
    width: 30%;
}

#cca {
    width: 30%;
}
#content {
    margin: 50px 10%;
}

hr {
    margin: 20px 30%;
    border: 2px solid grey;
    border-radius: 2px;
}

#container {
    width: 400px;
    height: 400px;
    position: relative;
    background: yellow;
}

#animate {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: red;
}

.content {
    margin: 50px 10%;
    display: none;
}